@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --primary-color:#18230F;
    --secudary-color:#F3F4F4;
    --white:#ffff;
    --white-font:#f3F4F4;

}

body{
    background-color: var(--primary-color);
    color: var(--white-font);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
.navbar-list{
    display: flex;
    /*background-color:#1B211A;*/
    padding: 0;
    margin: 0;
}
.navbar-list li{
    border-right: 1xp solid aqua;
}
.navbar-list a{
    display: block;
    font-size: 16px;
    color: var(--white-font);/*color de letras*/
    padding: 1rem 1.5rem;


}
.navbar-list a:hover{
    color: aqua;/*color mouse por arriba*/
}
.quienes-somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-responsive{
    width: 800px;/*unidades absolutas*/
    border: 1px solid white;
    border-radius: 15px;
}
.quienes-somos h2´{
    color: aqua;/*color de la tipografia*/
    font-size: 36px;/*tamanio de la fuente*/
    font-weight: 800;/*peso, es decir que tan gordita es*/
}